@model IEnumerable<PruebaTecnica.Models.Marca>
<div class="modal fade" tabindex="-1" id="nuevoEquipo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo Equipo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="@Url.Action("NuevoEquipo", "Equipo")">
                    <!-- Campos del formulario -->
                    <div class="mb-3">
                        <label for="Marca" class="form-label">Marca</label>
                        <select class="form-select" id="Marca" name="IdMarca">
                            @foreach(var marca in Model)
                            {
                                <option value="@marca.IdMarca">@marca.NombreMarca</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="nombreEquipo" class="form-label">Nombre Equipo</label>
                        <input type="text" class="form-control" id="nombreEquipo" name="NombreEquipo">
                    </div>
                    <div class="mb-3">
                        <label for="descripcionInput" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="descripcionInput" name="Descripcion">
                    </div>
                    <div class="mb-3">
                        <label for="numSerie" class="form-label">Número de Serie</label>
                        <input type="text" class="form-control" id="numSerie" name="NumeroSerie">
                    </div>
                    <!-- Botones de acción -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
